@import "tailwindcss";

@font-face {
    font-family: IRANYekanX;
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/yekan/woff/IRANYekanX-Black.woff') format('woff'),
        url('../fonts/yekan/woff2/IRANYekanX-Black.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: IRANYekanX;
    font-style: normal;
    font-weight: 950;
    src: url('../fonts/yekan/woff/IRANYekanX-ExtraBlack.woff') format('woff'),
        url('../fonts/yekan/woff2/IRANYekanX-ExtraBlack.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: IRANYekanX;
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/yekan/woff/IRANYekanX-Bold.woff') format('woff'),
        url('../fonts/yekan/woff2/IRANYekanX-Bold.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: IRANYekanX;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/yekan/woff/IRANYekanX-Regular.woff') format('woff'),
        url('../fonts/yekan/woff2/IRANYekanX-Regular.woff2') format('woff2');
    font-display: swap;
}

input {
    @apply border-none outline-0 text-inherit;
}


input.no-spinner::-webkit-outer-spin-button,
input.no-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@keyframes typing {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.type-effet {
    animation: typing .5s ease-in-out infinite;
}

.container {
    @apply mx-2;
}

.input-category:checked~div {
    @apply bg-blue-400;
}

@custom-variant dark (&:where(.dark, .dark *));



@theme {
    --font-yekan: "IRANYekanX", sans-serif;
    --breakpoint-xs: 530px;
}