/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* rest styles */
button,
input,
textarea,
select {
    outline: none;
    font-family: inherit;
}

button,
input,
select,
textarea {
    font: inherit;
    border: none;
    background: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* fonts */
@font-face {
    font-family: IRANYekanX;
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/yekan/woff/IRANYekanX-Light.woff') format('woff'),
        url('../fonts/yekan/woff2/IRANYekanX-Light.woff2') format('woff2');
    font-display: swap;
}



@font-face {
    font-family: IRANYekanX;
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/yekan/woff/IRANYekanX-Black.woff') format('woff'),
        url('../fonts/yekan/woff2/IRANYekanX-Black.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: IRANYekanX;
    font-style: normal;
    font-weight: 950;
    src: url('../fonts/yekan/woff/IRANYekanX-ExtraBlack.woff') format('woff'),
        url('../fonts/yekan/woff2/IRANYekanX-ExtraBlack.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: IRANYekanX;
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/yekan/woff/IRANYekanX-Bold.woff') format('woff'),
        url('../fonts/yekan/woff2/IRANYekanX-Bold.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: IRANYekanX;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/yekan/woff/IRANYekanX-Regular.woff') format('woff'),
        url('../fonts/yekan/woff2/IRANYekanX-Regular.woff2') format('woff2');
    font-display: swap;
}

/* public styles */
.hidden {
    display: none !important;
}

:root {
    --bg-color: #E2E8F0;
    --bg-section: #F1F5F9;
    --bg-blue: #155DFC;
    --text-primary: #0F172B;
    --text-secondary: #4A5565;
    --btn-color: #7C3AED;
    --text-red: #FB2C36;
    --text-white: #fff;
}

html {
    box-sizing: border-box;
    font-size: 10px;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: IRANYekanX, sans-serif;
    font-weight: normal;
    font-size: 1.6rem;
}



.main {}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 20%;
    max-height: 100vh;
    background: var(--bg-section);
    color: var(--text-primary);
    padding: 3rem 2rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    overflow-y: auto;
}

.sidebar__logo {
    height: 5.8rem;
    width: 5.8rem;
    margin: 0 auto;
}

.sidebar__logo img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.sidebar__title {
    font-weight: bold;
    text-align: center;
    font-size: 2rem;
}

.sidebar__btn {
    display: block;
    background: var(--btn-color);
    color: var(--text-white);
    height: 6rem;
    width: 80%;
    border-radius: .5rem;
    margin: 3rem auto;
    font-size: 1.8rem;
    cursor: pointer;
}

.category {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0 -2rem;
}



.category__item {
    display: flex;
    align-items: center;
    height: 4rem;
}

.category__item--active {
    background: var(--bg-color);
    position: relative;
}

.category__item--active::after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    width: .3rem;
    background-color: var(--text-red);
}

.category__item>span {
    padding-right: 3rem;
    transition: all .3s ease-in-out;
    cursor: pointer;

}

.category__item>span:hover {
    color: var(--text-red);
}

.todo-category {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--text-primary);
    margin: 1rem 0 0;
    padding-right: 1rem;
    cursor: pointer;
}

.todo-category svg {
    width: 1.5rem;
    height: 1.5rem;
    transform: rotate(180deg);
}

.todo-category-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-right: 4rem;
    margin: 1rem 0;

}

.todo-category-list__item {
    font-size: 1.4rem;
    color: var(--text-secondary);
    cursor: pointer;
}


.todo-category-list__item--btn {
    border: 1px dotted var(--text-primary);
    padding: .7rem .3rem;
    width: 4rem;
    border-radius: .5rem;
}

.darkmode {
    margin: 3rem 0;
    padding: 0 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .2rem;
}

.darkmode__track {
    background: var(--bg-color);
    height: 3rem;
    width: 6rem;
    border-radius: 5rem;
    position: relative;
    padding: .3rem;
}

#darkmode-check {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 10;
    cursor: pointer;

}

#darkmode-check:checked+.darkmode__thumb {
    left: 0;
    right: auto;
}

.darkmode__thumb {
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    top: 0;
    bottom: 0;
    right: 0;
    left: auto;
    background: var(--btn-color);
    margin: auto 0;
    z-index: 1;
    transition: all .3s ease-in-out;

}

.delete-data {
    display: flex;
    justify-content: center;
}

.delete-data__btn {
    color: var(--text-red);
    font-size: 1.4rem;
    cursor: pointer;
    text-decoration: underline;
}

.sidebar__btns {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-top: 2rem;
}

.btn {
    width: 50%;
    height: 4rem;
    font-size: 1.4rem;
    border-radius: .5rem;
    background: var(--bg-blue);
    color: var(--text-white);
    cursor: pointer;
}

.content {

    max-width: 80%;
    min-height: 100vh;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    background: var(--bg-color);


}

.content__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

.search {
    background: var(--bg-section);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1rem;
    border-radius: 4rem;
    height: 4.5rem;
    flex-basis: 31%;
}

.search svg {
    width: 2rem;
    height: 2rem;
}

.search__input {
    width: 100%;
    height: 100%;
}

.date {}

.date__day {}

.date__month {}

.date__year {}

.task-btn {
    background: var(--btn-color);
    color: var(--text-white);
    padding: 2rem 3rem;
    border-radius: 1rem;
    cursor: pointer;
}














/* responsive */
@media screen and (max-width:1280px) {}

@media screen and (max-width:1024px) {}

@media screen and (max-width:768px) {}

@media screen and (max-width:600px) {}